@model RecruitmentAgency.Models.Views.UserViewModel

@{
    ViewBag.Title = "Редактирование пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{    
    <input type="hidden" name="userId" value=@ViewBag.userId />

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(model => model.UserRole, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("UserRole", ViewBag.Roles as SelectList, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label class="buttomStyle">
                <input type="submit" class="buttomNone" />
                Обновить
            </label>
            <label class="buttomStyle">
                <input type="button" class="buttomNone" onclick="location.href='@Url.Action("Index", "Account")'" />
                Отмена
            </label>
        </div>
    </div>
</div>
}
